@model Slider

<h2>Create Slider</h2>

<form  asp-controller="Slider" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Subtitle"></label>
        <input asp-for="Subtitle" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="RedirectUrl"></label>
        <input asp-for="RedirectUrl" class="form-control" />
    </div>
    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
