@model Product

<section class="single-product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <!-- Şəkil slayder hissəsi -->
            <div class="col-lg-6">
                <div class="single-product-img">
                    <div class="swiper-container single-product-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-full" src="~/assets/images/product/large-size/@Model.MainImage" alt="@Model.Name" />
                            </div>
                            @if (!string.IsNullOrEmpty(Model.HoverImage))
                            {
                                <div class="swiper-slide">
                                    <img class="img-full" src="~/assets/images/product/large-size/@Model.HoverImage" alt="@Model.Name hover" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Məhsul məlumat hissəsi -->
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="single-product-content">
                    <h2 class="title">@Model.Name</h2>
                    <div class="price-box">
                        <span class="new-price">$@Model.Price</span>
                    </div>

                    <div class="rating-box-wrap pb-4">
                        <div class="rating-box">
                            <ul>
                                @for (int i = 0; i < 5; i++)
                                {
                                    <li><i class="fa fa-star"></i></li>
                                }
                            </ul>
                        </div>
                        <div class="review-status">
                            <a href="#">(1 Review)</a>
                        </div>
                    </div>

                    <p class="short-desc">@Model.Description</p>

                    <ul class="quantity-with-btn">
                        <li class="quantity">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" value="1" type="text" />
                            </div>
                        </li>
                        <li class="add-to-cart">
                            <a class="btn btn-custom-size lg-size btn-pronia-primary" href="#">Add to cart</a>
                        </li>
                        <li class="wishlist-btn-wrap">
                            <a class="custom-circle-btn" href="#"><i class="pe-7s-like"></i></a>
                        </li>
                        <li class="compare-btn-wrap">
                            <a class="custom-circle-btn" href="#"><i class="pe-7s-refresh-2"></i></a>
                        </li>
                    </ul>

                    <ul class="service-item-wrap">
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/assets/images/website-images/car.png" alt="Shipping Icon" />
                            </div>
                            <div class="service-content">
                                <span class="title">Free<br />Shipping</span>
                            </div>
                        </li>
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/assets/images/website-images/card.png" alt="Safe Payment" />
                            </div>
                            <div class="service-content">
                                <span class="title">Safe<br />Payment</span>
                            </div>
                        </li>
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/assets/images/website-images/service.png" alt="Secure Checkout" />
                            </div>
                            <div class="service-content">
                                <span class="title">Secure<br />Checkout</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
